body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-image: url("../img/gameback.jpg");
    background-size: cover;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.trash-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.trash {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: cover;
    cursor: pointer;
}

#example1 {
    background-image: url('images/example1.jpg');
}

#example2 {
    background-image: url('images/example2.jpg');
}

#example3 {
    background-image: url('images/example3.jpg');
}

.bins {
    display: flex;
    justify-content: space-around;
}

.bin {
    width: 80px;
    height: 80px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}