body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background: #fff;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.score {
    font-size: 24px;
    margin-bottom: 20px;
}

.trash-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.trash {
    width: 100px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.bins {
    display: flex;
    justify-content: space-around;
}

.bin {
    width: 100px;
    height: 100px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.result-message {
    margin-top: 20px;
    font-size: 30px;
    color: green;
}

.lives-container {
    margin-top: 20px;
}

.life {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.carbon-reduction{
    margin-top: 20px;
    font-size: 50px;
}