* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d8d8d8;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
}

.search-bar button {
  border: none;
  background: none;
  cursor: pointer;
}

.search-bar button img {
  width: 30px;
  height: auto;
  margin-top: 3px;
}

.logo {
  margin-right: 30px;
  margin-left: 10px;
  font-size: 24px;
}

nav ul {
  padding: 0;
  margin: 0;
}

.welcome-text {
  text-decoration: none;
  font-size: 24px;
  align-items: center;
  margin-left: 100px;
}

.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 수직 가운데 정렬을 위해 추가 */
  height: 100vh; /* 전체 뷰포트 높이만큼 배너를 채우기 위해 추가 */
}


.kakao-infowindow.infowindow-content {
  width: 300px;
  height: 200px;
  overflow-y: auto;
}

.banner1 {
  background-color: #3e5e45;
  padding: 20px;
  text-align: center;
  margin-bottom: 0; /* 배너 사이의 간격 제거 */
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner1 a, .banner button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.banner1 a:hover, .banner button:hover {
    background-color: #709c6b;
}

body {
  height: 100vh;
  overflow-y: auto;
}

.banner2 {
  background-image: url("img/game.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  color: #ffffff;
}

.banner2 h2 {
  margin-top: 230px;
}
.banner2 button{
  background-color: #0f1d3e;
}

.banner2 button:hover {
  background-color: #3c3375;
}

footer {
  position: relative; /* 페이지 흐름에 따라 위치 설정 */
  left: 0;
  right: 0;
  width: 100%;
  background-color: #919191;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* 페이지의 아래에 위치하도록 설정 */
}